* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$myOrange: #ff5b02;
$myBlack: #000;
$myWhite: #fff;
$myBoder: rgba(210, 210, 210, 0.3);
$myRed: #e62901;
$mygrey: #959595;
$colorBgr-search: #010e2a;
$myform: #313437;
$myNewleter: #d4d4d4;
body {
    font-size: 14px;
    color: #292929;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

.topbar {
    line-height: 40px;
    height: 40px;
    background-color: $myWhite;
    .topbar-left {
        margin-bottom: 0;
    }
    .topbar-icon {
        display: flex;
        justify-content: flex-end;
        a {
            display: inline-block;
            text-align: center;
            padding: 0 15px;
            color: #ff5b02;
            border-right: solid 1px #ebebeb;
            &:first-child {
                border-left: 1px solid #ebebeb;
            }
            &:hover {
                background-color: $myRed;
                color: $myWhite;
            }
        }
    }
}
// ..header header-menu
.header {
    // .mid-header-wrap
    .mid-header-wrap {
        background-color: $colorBgr-search;
        .mid-header {
            .header-logo {
                width: 195px;
                display: inline-block;
                left: 0;
                z-index: 9;
                line-height: 100px;
                text-align: left;
                .img-logo {
                    height: 63px;
                    line-height: 63px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
            .header-search {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                form {
                    width: 86%;
                    height: 50px;
                    line-height: 50px;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    outline: none;
                    input {
                        width: 100%;
                        min-height: unset;
                        line-height: 50px;
                        border: solid 1px #fff;
                        background: transparent;
                        padding: 0 40px 0 15px;
                        background: #fff;
                        color: #959595;
                        outline: none;
                    }
                }
                .btn-search {
                    position: absolute;
                    top: 50%;
                    right: 1px;
                    border: none;
                    background: #fff;
                    transform: translateY(-50%);
                    outline: none;
                    a{
                        display: block;
                    i {
                        padding-right: 18px;
                        color: $mygrey;
                    }}
                }
            }
        }
    }

    .header-contact {
        display: flex;
        align-items: center;
        height: 100px;
        .contact-bl {
            color: $myWhite;
            text-align: center;
            padding-left: 24px;
            &:first-child {
                padding-right: 16px;
                border-right: 1px solid $myBoder;
            }
            p {
                margin-bottom: 0;
            }
            a {
                text-decoration: none;
                color: $myWhite;
                &:hover {
                    color: $myRed;
                }
            }
        }
    }
    // .navBar-main
    .navBar-main {
        background-color: $myOrange;
        .navBar {
            > ul {
                display: flex;
                align-items: center;
                margin-bottom: 0;
                .current-menu-item {
                    background-color: $myRed;
                    color: #fff;
                }
                > li.menu-item-has-children {
                    display: flex;
                    align-items: center;
                    &::after {
                        content: "";
                        height: 10px;
                        width: 10px;
                        background-image: url("../img/down.svg");
                        background-position: right;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-left: 8px;
                    }
                }
                > li {
                    list-style: none;
                    padding: 0 15px;
                    position: relative;
                    &:hover {
                        background-color: $myRed;
                    }
                    > a {
                        text-decoration: none;
                        line-height: 50px;
                        color: $myWhite;
                        display: block;
                    }
                    > span {
                        i {
                            color: $myWhite;
                            margin-left: 5px;
                        }
                    }
                    &:hover > ul {
                        opacity: 1;
                        transform: perspective(600px) rotateX(0deg);
                    }
                    > ul {
                        position: absolute;
                        box-shadow: 0 1px 2px 2px rgb(0 0 0 / 4%);
                        left: 0;
                        top: 49px;
                        width: 200px;
                        height: auto;
                        opacity: 0;
                        transform: perspective(600px) rotateX(-90deg);
                        transform-origin: 0% 0%;
                        transition: transform 0.5s ease-in-out;
                        background-color: white;

                        > li {
                            list-style: none;
                            padding: 0 10px;
                            position: relative;
                            > a {
                                text-decoration: none;
                                font-weight: 400;
                                line-height: 40px;
                                display: block;
                                color: $colorBgr-search;
                                display: block;
                                &:first-child {
                                    border-bottom: solid 1px #e5e6ec;
                                }
                                &:hover {
                                    color: $myRed;
                                }
                            }
                            > span {
                                position: absolute;
                                right: 0;
                                top: 0;
                                margin: 15px;
                            }
                            &:hover > ul {
                                opacity: 1;
                            }
                            > ul {
                                position: absolute;
                                right: -200px;
                                top: 0;
                                width: 200px;
                                box-shadow: 0 1px 2px 2px rgb(0 0 0 / 4%);
                                opacity: 0;
                                background-color: white;
                                > li {
                                    list-style: none;
                                    padding: 0 10px;
                                    > a {
                                        text-decoration: none;
                                        font-weight: 400;
                                        line-height: 40px;
                                        display: block;
                                        color: $myBlack;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .header {
        display: block;
    }
    .tablet {
        display: none;
    }
    .mobile {
        display: none;
    }
    .transport {
        .col-lg-4:nth-child(2) {
            display: block;
        }
    }
}
@media (max-width: 992px) {
    .header {
        display: none;
    }
    .tablet {
        display: block;
    }
    .mobile {
        display: none;
    }
    .topbar-left {
        display: none;
    }
    .transport {
        .col-lg-4:nth-child(2) {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .header {
        display: none;
    }
    .tablet {
        display: none;
    }
    .mobile {
        display: block;
    }
    .topbar-left {
        display: none;
    }
}
// ..tablet header-menu
.tablet-mid__header {
    background-color: $colorBgr-search;
    .tablet-logo {
        display: flex;
        align-items: center;
        height: 100px;
        .mobile-menu {
            i {
                color: $myOrange;
                font-size: 26px;
                padding: 0 20px;
            }
        }
        .tablet-logo1 {
            width: 195px;
            display: inline-block;
            z-index: 9;
            line-height: 100px;
            .img-logo1 {
                height: 53px;
                line-height: 53px;
                display: block;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    .header-contact {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100px;
        .contact-bl {
            color: $myWhite;
            text-align: center;
            padding-left: 24px;
            &:first-child {
                padding-right: 16px;
                border-right: 1px solid $myBoder;
            }
            p {
                margin-bottom: 0;
            }
            a {
                text-decoration: none;
                color: $myWhite;
                &:hover {
                    color: $myRed;
                }
            }
        }
    }
}
.tablet__search-wrap {
    background-color: $myOrange;
    .tablet__search {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            width: 100%;
            height: 50px;
            line-height: 50px;
            margin: 0;
            padding: 0;
            position: relative;
            outline: none;
            input {
                width: 100%;
                min-height: unset;
                line-height: 50px;
                border: solid 1px #fff;
                background: transparent;
                padding: 0 40px 0 15px;
                background: #fff;
                color: #959595;
                outline: none;
            }
        }
        .btn-search {
            position: absolute;
            top: 50%;
            right: 1px;
            border: none;
            background: #fff;
            transform: translateY(-50%);
            outline: none;
            a {
                display: block;
                i {
                    padding-right: 18px;
                    color: $mygrey;
                }
            }
        }
    }
}
// .mobile header-menu
.mobile-logo {
    background-color: $colorBgr-search;
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    .mobile-menu {
        i {
            color: $myOrange;
            font-size: 26px;
            padding: 0 20px;
        }
    }
    .mobile-logo1 {
        width: 110px;
        line-height: 100px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        .img-logo1 {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
.mobile-search-wrap {
    .mobile__search {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            width: 100%;
            height: 50px;
            line-height: 50px;
            margin: 0;
            padding: 0;
            position: relative;
            outline: none;
            box-shadow: 0 1px 2px 2px rgb(0 0 0 / 4%);
            input {
                width: 100%;
                min-height: unset;
                line-height: 50px;
                border: solid 1px #fff;
                background: transparent;
                padding: 0 40px 0 15px;
                background: #fff;
                color: #959595;
                outline: none;
            }
        }
        .btn-search {
            position: absolute;
            top: 50%;
            right: 1px;
            border: none;
            background: #fff;
            transform: translateY(-50%);
            outline: none;
            a{
                display: block;
            i {
                padding-right: 18px;
                color: $mygrey;
            }
        }
        }
    }
}
// Banner background
.slide-header {
    img {
        max-width: 100%;
        width: 100%;
        display: block;
    }
}
//close-btn
.close-btn {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    transition: 0.6s ease;
}
.close-btn-show {
    display: block;
}
// .........................side-bar
.side-bar.active {
    left: 0;
}
.side-bar {
    width: 320px;
    height: 100vh;
    background-color: #010e2a;
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 100;
    transition: 0.6s ease;
    transition-property: left;
    .logo-sidebar {
        display: block;
        text-align: center;
        height: 80px;
        padding: 10px;
        margin: 20px 0;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    > ul {
        width: 100%;
        > li {
            position: relative;
            background: #fff;
            display: block;
            border-top: solid 1px #e4ebf0;
            > a {
                padding: 10px 15px;
                font-size: 14px;
                display: block;
                color: #292929;
                text-decoration: none;
            }
            > span {
                position: absolute;
                right: 0;
                top: 0;
                padding: 9px 22px;
            }
            > ul {
                width: 100%;
                display: none;
                > li {
                    position: relative;
                    background: #fff;
                    display: block;
                    border-top: solid 1px #e4ebf0;
                    > a {
                        padding: 10px 15px;
                        font-size: 14px;
                        display: block;
                        color: #292929;
                        text-decoration: none;
                        padding: 10px 15px 10px 45px;
                        line-height: 22px;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 16px;
                            left: 25px;
                            width: 9px;
                            height: 9px;
                            border: solid 2px #ff5b02;
                            border-radius: 50%;
                        }
                    }
                    > span {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 9px 22px;
                    }
                    > ul {
                        width: 100%;
                        display: none;
                        > li {
                            position: relative;
                            background: #fff;
                            display: block;
                            border-top: 1px solid #e4e4e4;
                            > a {
                                padding: 10px 15px;
                                font-size: 14px;
                                color: #292929;
                                display: block;
                                text-decoration: none;
                                padding: 10px 15px 10px 65px;
                                line-height: 22px;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 16px;
                                    left: 45px;
                                    width: 9px;
                                    height: 9px;
                                    border: solid 2px #ff5b02;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.rotate {
    transform: rotate(180deg);
}
// .............................main
// ///Tiêu đề ở đây
.title-all {
    margin-bottom: 80px;
    .title-h2 {
        position: relative;
        &::before {
            content: "";
            width: 70px;
            height: 3px;
            background: #ff5b02;
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
        }
        h2 {
            position: relative;
            font-weight: 700;
            font-size: 35px;
            padding-top: 45px;
            color: $colorBgr-search;
            text-transform: uppercase;
            &::after {
                position: absolute;
                content: attr(data-title);
                color: rgba(210, 210, 210, 0.3);
                font-weight: 900;
                font-size: 90px;
                text-transform: uppercase;
                top: 0px;
                left: 50%;
                width: 100%;
                z-index: -1;
                transform: translateX(-50%);
                font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
            }
        }
    }
}
@media (max-width: 768px) {
    .title-all .title-h2 h2 {
        font-size: 25px;
        padding-top: 30px;
    }
    .title-all .title-h2 h2::after {
        font-size: 64px;
    }
}
@media (max-width: 477px) {
    .title-all .title-h2 h2 {
        font-size: 16px;
        padding-top: 14px;
    }
    .title-all .title-h2 h2::after {
        font-size: 32px;
    }
}
// transport
.transport {
    .boxContent {
        width: 100%;
        float: left;
        border: 1px solid $myBoder;
        padding: 30px 15px;
        margin-bottom: 30px;
        min-height: 170px; //cái này quan trọng lắm... để nó cân giữa diw
        .content-img {
            width: 70px;
            text-align: center;
            display: block;
            float: left;
            img {
                max-width: 100%;
                display: block;
            }
        }
        .content-right {
            width: calc(100% - 70px);
            float: left;
            display: block;
            text-align: left;
            padding-left: 15px;
            p {
                padding: 0;
                font-size: 18px;
                color: $myBlack;
                margin-bottom: 10px;
                font-weight: 700;
                text-transform: uppercase;
            }
            span {
                font-size: 14px;
            }
        }
    }
    .transport-img {
        padding-right: 6px;
        img {
            width: 100%;
            display: block;
        }
    }
}
// mission
.mission {
    padding: 60px 0 40px 0;
    .mission-img {
        position: relative;
        margin-bottom: 16px;
        &:hover::before {
            opacity: 1;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
            opacity: 0;
            transition: 0.75s;
        }
        img {
            max-width: 100%;
            display: block;
        }
        .play-video {
            position: absolute;
            width: 70px;
            height: 70px;
            background-color: $myWhite;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 999px;
            i {
                position: absolute;
                font-size: 24px;
                top: 50%;
                left: 53%;
                transform: translate(-50%, -50%);
                color: $colorBgr-search;
            }
            .ripple,
            .ripple::before,
            .ripple::after {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 65px;
                width: 65px;
                transform: translateX(-50%) translateY(-50%);
                display: block;
                transform-origin: center center;
                border-radius: 50%;
                box-shadow: 0 0 0 0 #ffffff4d;
                animation: ripple 3s infinite;
            }
            .ripple:after {
                content: "";
                animation-delay: 0.6s;
            }
            .ripple:before {
                content: "";
                animation-delay: 0.9s;
            }

            @keyframes ripple {
                70% {
                    box-shadow: 0 0 0 70px #ffffff00;
                }
                100% {
                    box-shadow: 0 0 0 0 #ffffff00;
                }
            }
        }
    }
    .mission-content {
        h2 {
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            margin: 0 0 15px 0;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
        }
        ul {
            li {
                padding: 5px 5px 5px 0px;
                position: relative;
                list-style: none;
                text-transform: uppercase;
                i {
                    font-size: 15px;
                    color: $myOrange;
                    margin-right: 4px;
                }
            }
        }
        a {
            background: #ff5b02;
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            padding: 10px 20px;
            border: 1px solid;
            border-color: transparent;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.57s all;
            display: inline-block;
            margin-bottom: 30px;
            &:hover {
                color: $myRed;
                background: $myWhite;
                border-color: $myRed;
            }
        }
        .item {
            padding: 20px;
            border: 1px solid $myBoder;
            text-align: center;
            margin-bottom: 30px;
            .counter {
                font-size: 30px;
                font-weight: 700;
                color: #ff5b02;
                display: block;
            }
            p {
                margin: 5px;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}
// .question
.question {
    margin-bottom: 100px;
    .question-bgr {
        padding: 50px 0 0;
        .form-wrap {
            background-color: $myform;
            margin-left: 15px;
            margin-right: 15px;
            .question-title {
                padding-left: 24px;
                margin-top: 30px;
                h4 {
                    color: $myRed;
                    letter-spacing: 2px;
                    font-weight: 700;
                    margin-bottom: 16px;
                }
                p {
                    color: $myWhite;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 55px;
                }
            }
            .bgr-form {
                background-color: $myform;
                padding: 0 8px;
                .form-contact {
                    padding: 0 8px;
                    &:nth-child(3) {
                        margin-top: 24px;
                    }
                    &:nth-child(4) {
                        margin-top: 24px;
                        padding-right: 80px;
                    }
                    input {
                        width: 100%;
                        line-height: 32px;
                        border: 0;
                        border-bottom: 1px solid;
                        color: $myWhite;
                        background: transparent;
                        outline: none;
                        &::placeholder {
                            color: $myWhite;
                        }
                    }
                    textarea {
                        padding: 0;
                        width: 100%;
                        line-height: 32px;
                        border: 0;
                        border-bottom: 1px solid;
                        color: #fff;
                        background: transparent;
                        border-radius: 0;
                        outline: none;
                        box-shadow: none;
                        &::placeholder {
                            color: $myWhite;
                        }
                    }
                }
            }
            .question-btn {
                button {
                    margin: 35px 0 50px 0;
                    width: 100%;
                    background: $myOrange;
                    text-align: center;
                    line-height: 45px;
                    border: 1px solid;
                    border-color: transparent;
                    transition: 0.5s;
                    font-size: 16px;
                    font-weight: 700;
                    text-decoration: none;
                    color: $myWhite;
                    transition: 0.5s;
                    outline: none;
                    transition: 0.5s;
                    &:hover {
                        background: $myWhite;
                        border-color: $myRed;
                        color: $myRed;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .question .question-bgr .form-wrap .bgr-form .form-contact textarea {
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(1) {
            display: block;
        }
    }
}
@media (max-width: 992px) {
    .question .question-bgr .form-wrap .bgr-form .form-contact:nth-child(2) {
        margin-top: 24px;
    }
    .question .question-bgr .form-wrap .bgr-form .form-contact textarea {
        &:nth-child(2) {
            display: block;
        }
        &:nth-child(1) {
            display: none;
        }
    }
}
// title-all__2
.title-all__2 {
    margin-bottom: 80px;
    .title-h2 {
        position: relative;
        &::before {
            content: "";
            width: 70px;
            height: 3px;
            background: #ff5b02;
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
        }
        h2 {
            position: relative;
            font-weight: 700;
            font-size: 35px;
            padding-top: 45px;
            color: $colorBgr-search;
            text-transform: uppercase;
            &::after {
                position: absolute;
                content: attr(data-title);
                color: rgba(210, 210, 210, 0.3);
                font-weight: 900;
                font-size: 90px;
                text-transform: uppercase;
                top: 0px;
                left: 50%;
                width: 100%;
                z-index: -1;
                transform: translateX(-50%);
                font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
            }
        }
    }
}
@media (max-width: 768px) {
    .title-all__2 .title-h2 h2 {
        font-size: 25px;
        padding-top: 30px;
    }
    .title-all__2 .title-h2 h2::after {
        font-size: 64px;
    }
}
@media (max-width: 477px) {
    .title-all__2 .title-h2 h2 {
        font-size: 16px;
        padding-top: 14px;
    }
    .title-all__2 .title-h2 h2::after {
        font-size: 32px;
    }
}
// evaluate-wrap
.evaluate-wrap {
    .evaluate {
        .item {
            padding: 30px 15px;
            .bg-wave {
                background-image: url("../img/bg-wave.svg");
                background-repeat: no-repeat;
                background-position: center bottom;
            }
            .client-testimonial {
                box-shadow: 0px 8px 15px 0px rgb(0 0 0 / 14%);
                padding: 40px 20px;
                .medias {
                    .item-img {
                        border-radius: 50%;
                        width: 100px;
                        overflow: hidden;
                        margin-right: 0;
                        position: relative;
                        display: block;
                        float: left;
                        margin-right: 16px;
                        img {
                            border: 0 none;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    .item-evaluate {
                        p {
                            color: #868789;
                        }
                        .item-evaluate__name {
                            font-size: 16px;
                            color: $myOrange;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .evaluate-wrap .evaluate .item .client-testimonial .medias .item-img {
        float: none;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10px;
    }
    .item-evaluate {
        text-align: center;
    }
    .item-evaluate__name {
        margin-bottom: 0;
    }
}
// title-all__3
.title-all__3 {
    margin-bottom: 80px;
    margin-top: 0px;
    .title-h2 {
        position: relative;
        &::before {
            content: "";
            width: 70px;
            height: 3px;
            background: #ff5b02;
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
        }
        h2 {
            position: relative;
            font-weight: 700;
            font-size: 35px;
            padding-top: 45px;
            color: $colorBgr-search;
            text-transform: uppercase;
            &::after {
                position: absolute;
                content: attr(data-title);
                color: rgba(210, 210, 210, 0.3);
                font-weight: 900;
                font-size: 90px;
                text-transform: uppercase;
                top: 0px;
                left: 50%;
                width: 100%;
                z-index: -1;
                transform: translateX(-50%);
                font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
            }
        }
    }
}
@media (max-width: 768px) {
    .title-all__3 .title-h2 h2 {
        font-size: 25px;
        padding-top: 30px;
    }
    .title-all__3 .title-h2 h2::after {
        font-size: 64px;
    }
}
@media (max-width: 477px) {
    .title-all__3 .title-h2 h2 {
        font-size: 16px;
        padding-top: 14px;
    }
    .title-all__3 .title-h2 h2::after {
        font-size: 32px;
    }
}
// .market-wrap
.market-wrap {
    margin-bottom: 32px;
    .market {
        .market-item {
            .item-img {
                width: 100%;
                img {
                    position: relative;
                    width: 100%;
                    display: block;
                }
                span {
                    position: absolute;
                    top: 0;
                    left: 15px;
                    background-color: $myOrange;
                    color: $myWhite;
                    font-size: 30px;
                    font-weight: 700;
                    text-align: center;
                    p {
                        background-color: $colorBgr-search;
                        color: $myWhite;
                        font-weight: 700;
                        margin-bottom: 0;
                        padding: 4px 10px;
                        font-size: 14px;
                    }
                }
            }
            .name-market {
                margin-top: 15px;
                a {
                    color: $myBlack;
                    font-weight: 700;
                    font-size: 16px;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        color: $myRed;
                    }
                }
            }
        }
    }
}
// newleter
.newleter {
    background-color: $myNewleter;
    padding: 40px 0;
    .newleter-item {
        padding: 15px;
        background-color: $myWhite;
        .item-img {
            float: left;
            padding: 0 15px;
            img {
                max-width: 100%;
                display: block;
            }
        }
        .item-contact {
            margin-bottom: 15px;
            p {
                margin-bottom: 10px;
            }
            a {
                display: block;
                color: $myBlack;
                text-decoration: none;
                font-weight: 700;
                font-size: 18px;
                &:hover {
                    color: $myRed;
                }
            }
            span {
                a {
                    display: inline-block;
                    color: $myBlack;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: normal;
                    &:hover {
                        color: $myRed;
                    }
                }
            }
            form {
                width: 100%;
                height: 48px;
                input {
                    width: calc(100% - 205px);
                    border: 2px solid $myBoder;
                    padding: 10px;
                    outline: none;
                }
                button {
                    width: 103px;
                    height: 92%;
                    color: $myWhite;
                    background-color: $myOrange;
                    border: 1px solid;
                    border-color: transparent;
                    margin-left: -4px;
                    outline: none;
                    transition: 0.25s;
                    &:hover {
                        border-color: $myRed;
                        color: $myRed;
                        background: $myWhite;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .newleter .newleter-item .item-img {
        float: none;
        margin-bottom: 15px;
    }
    .newleter .newleter-item .item-img img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .newleter .newleter-item .item-contact {
        text-align: center;
    }
    .newleter .newleter-item .item-contact form input {
        width: calc(100% - 108px);
        border: 2px solid rgba(210, 210, 210, 0.3);
        padding: 10px;
        outline: none;
    }
}
// footer-mid
.footer-mid {
    padding-top: 40px;
    .footer-information {
        h3 {
            cursor: default;
            font-size: 16px;
            font-weight: 700;
            color: #292929;
            text-transform: uppercase;
            padding: 10px 20px 10px 0;
            line-height: 22px;
            margin: 0;
        }
        p {
            padding-bottom: 15px;
        }
        .information-icon {
            margin-bottom: 15px;
            .icon {
                width: 30px;
                height: 30px;
                background: $myOrange;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $myWhite;
                margin-right: 15px;
            }
            span {
                a {
                    text-decoration: none;
                    color: $myBlack;
                    &:hover {
                        color: $myRed;
                    }
                }
            }
        }
    }
    .footer-introduce {
        h3 {
            cursor: default;
            font-size: 16px;
            font-weight: 700;
            color: #292929;
            text-transform: uppercase;
            padding: 10px 20px 10px 0;
            line-height: 22px;
            margin: 0;
        }
        .toggle-icon {
            position: absolute;
            right: 2%;
            top: 0;
        }
        ul {
            li {
                list-style: none;
                line-height: 38px;
                a {
                    text-decoration: none;
                    font-weight: 400;
                    color: $myBlack;
                    &:hover {
                        color: $myRed;
                    }
                }
            }
        }
    }
    .footer-introduceToggle {
        h3 {
            cursor: default;
            font-size: 16px;
            font-weight: 700;
            color: #292929;
            text-transform: uppercase;
            padding: 10px 20px 10px 0;
            line-height: 22px;
            margin: 0;
        }
        .opent-toggle {
            .toggle-icon {
                position: absolute;
                right: 2%;
                top: 0;
            }
            .addRemove-icon {
                position: absolute;
                right: 2.05%;
                top: -0.6px;
                transform: rotate(90deg);
            }
        }
        ul {
            display: none;
            li {
                list-style: none;
                line-height: 38px;
                a {
                    text-decoration: none;
                    font-weight: 400;
                    color: $myBlack;
                    &:hover {
                        color: $myRed;
                    }
                }
            }
        }
    }
    .footer-contact {
        margin-left: 0px;
        h3 {
            cursor: default;
            font-size: 16px;
            font-weight: 700;
            color: #292929;
            text-transform: uppercase;
            padding: 10px 20px 10px 0;
            line-height: 22px;
            margin: 0;
        }
        .advisory {
            width: 100%;
            float: left;
            .advisory-img {
                width: 55px;
                text-align: center;
                display: block;
                float: left;
                img {
                    max-width: 100%;
                }
            }
            .advisory-contact {
                float: left;
                display: block;
                width: calc(100% - 55px);
                padding-left: 24px;
                p {
                    margin-bottom: 6px;
                }
                a {
                    font-size: 24px;
                    text-decoration: none;
                    font-weight: 700;
                    color: $myBlack;
                    &:hover {
                        color: $myRed;
                    }
                }
            }
        }
        .contact-p {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            padding: 10px 20px 10px 0;
            line-height: 22px;
            margin: 0;
        }
        .contact-icon {
            a {
                width: 45px;
                height: 45px;
                background-color: $myOrange;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                text-decoration: none;
                font-size: 16px;
                color: $myWhite;
                border: 1px solid;
                border-color: transparent;
                &:hover {
                    color: $myRed;
                    border-color: $myRed;
                    background-color: $myWhite;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .footer-contact {
        margin-bottom: 30px;
    }
}
// ...........................................show ở phần ul hasClass --> quan trọng
.show {
    display: none;
}
@media (max-width: 575px) {
    .footer-introduce {
        display: none;
    }
    .footer-introduceToggle {
        display: block;
    }
}
@media (min-width: 575px) {
    .footer-introduce {
        display: block;
    }
    .footer-introduceToggle {
        display: none;
    }
}
// footer-buttom
.footer-buttom {
    background: #010e2a;
    height: auto;
    line-height: 40px;
    span {
        flex-wrap: wrap;
        color: $myWhite;
        b {
            color: $myRed;
        }
        a {
            color: $myRed;
            text-decoration: none;
            &:hover {
                color: rgb(161, 10, 10);
            }
        }
    }
    .backTop {
        color: $myOrange;
        text-decoration: none;
        &:hover {
            color: $myRed;
        }
    }
}
@media (min-width: 768px) {
    .footer-buttom {
        display: block;
    }
    .footer-buttom-tablet .container {
        display: none;
    }
}
.footer-buttom-tablet {
    background: #010e2a;
    height: auto;
    line-height: 40px;
    p {
        color: $myWhite;
        strong {
            color: $myOrange;
        }
    }
}
@media (max-width: 768px) {
    .footer-buttom {
        display: none;
    }
    .footer-buttom-tablet .container {
        display: block;
    }
}

/* add__item */
/* ---button back to home */
#item__btn-back {
    display: inline-block;
    background-color: #ff5b02;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 0px 1px 1px #fff;
}
#item__btn-back > i {
    font-size: 20px;
    line-height: 50px;
    color: #fff;
}

#item__btn-back:hover {
    cursor: pointer;
    background-color: #ff5b02;
}
#item__btn-back:active {
    background-color: #ff5b02;
}
#item__btn-back.show {
    opacity: 1;
    visibility: visible;
}

#item__btn-back {
    display: none;
}
@media (max-width: 768px) {
    #item__btn-back {
        display: block;
    }
}
